<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
  <add key="ConveyorBelt.ElasticSearchUrl" value="" />
  <add key="ConveyorBelt.TableName" value="DiagnosticsSourceProd" />
  <add key="ConveyorBelt.FrequencyInSeconds" value="30" />
  <add key="ConveyorBelt.ServiceBus.ConnectionString" value="" />
  <add key="ConveyorBelt.MappingsPath" value="" />
  <add key="ConveyorBelt.Storage.ConnectionString" value="" />
  <add key="ConveyorBelt.BulkBatchSize" value="1000" />
  <add key="ConveyorBelt.Storage.ClusterLockDurationSeconds" value="300" />
  <add key="ConveyorBelt.Storage.TabSeparatedCustomEsHttpHeaders" value="" />
  <add key="ConveyorBelt.ElasticSearch.IndexCreationJsonFileName" value="" />
  <add key="ConveyorBelt.LastOffsetPoint" value="" />
  <add key="Beehive.ActorParallelism.ShardKeyActor" value="1" />
  <add key="Beehive.ActorParallelism.BlobFileConventionActor" value="1" />
  <add key="ConveyorBelt.ElasticSearch.IndexPrefix" value="" />
  <add key="ConveyorBelt.ElasticSearch.OneIndexPerType" value="true" />
  <add key="ConveyorBelt.ElasticSearch.PipelineEnabled" value="true" />
  <add key="ConveyorBelt.ElasticSearch.CreateMappings" value="false" />
  </appSettings>
</configuration>
